@font-face{
    font-family: 'Montserrat';
    src:url('/static/fonts/Monserrat-Regular.ttf');
    font-weight: normal;
    font-style: 'normal';
}
@font-face{
    font-family: 'Montserrat';
    src:url('/static/fonts/Monserrat-Bold.ttf');
    font-weight: bold;
    font-style: 'normal';
}
@font-face{
    font-family: 'Montserrat';
    src:url('/static/fonts/Monserrat-Light.ttf');
    font-weight: lighter;
    font-style: 'normal';
}
@font-face{
    font-family: 'Montserrat';
    src:url('/static/fonts/Monserrat-Italic.ttf');
    font-weight: normal;
    font-style: 'italic';
}
// ----------------
@font-face{
    font-family: 'TitilliumWeb';
    src:url('/static/fonts/TitilliumWeb-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TitilliumWeb';
    src:url('/static/fonts/TitilliumWeb-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'TitilliumWeb';
    src:url('/static/fonts/TitilliumWeb-Ligth.ttf');
    font-weight: lighter;
    font-style: normal;
}
@font-face{
    font-family: 'TitilliumWeb';
    src:url('/static/fonts/TitilliumWeb-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
// ---------------------
@font-face{
    font-family: 'BalooThambi';
    src:url('/static/fonts/BalooThambi-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}